<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @discussion.headline %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @discussion.content %>
</p>

<%= link_to 'Editar', edit_discussion_path(@discussion) %> |
<%= link_to 'Voltar', discussions_path %>
