<p id="notice"><%= notice %></p>

<h1>Encomendas</h1>

<table>
  <%if @encomendas.empty? == false %>
    <thead>
      <tr>
        <th>Chegada</th>
        <th>Retirada</th>
        <th>Proprietário</th>
        <th>Apartamento</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% @encomendas.each do |encomenda| %>
      <tr>
        <td><%= encomenda.arrival %></td>
        <td><%= encomenda.departure %></td>
        <td><%= encomenda.name %></td>
        <td><%= encomenda.apart %></td>
        <td><%= link_to 'Mostrar', encomenda %></td>
        <td><%= link_to 'Editar', edit_encomenda_path(encomenda) %></td>
        <td><%= link_to 'Deletar', encomenda, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Encomenda', new_encomenda_path %>
<div>
<%= link_to 'Voltar à Página Inicial', 'conversations#index' %>
</div>