<p id="notice"><%= notice %></p>

<p>
  <strong>Chegada: </strong>
  <%= @encomenda.arrival %>
</p>

<p>
  <strong>Retirada: </strong>
  <%= @encomenda.departure %>
</p>

<p>
  <strong>Proprietário: </strong>
  <%= @encomenda.name %>
</p>

<p>
  <strong>Apartamento: </strong>
  <%= @encomenda.apart %>
</p>

<%= link_to 'Editar', edit_encomenda_path(@encomenda) %> |
<%= link_to 'Voltar', encomendas_path %>
